
.dispatch-div{
    margin-top: 35px;
    padding-bottom: 0;
    border-top: 1px solid black;
  
 
}

.dispatch-header{
    display:flex;
    margin-top: 7px;
    margin-bottom: 30px;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}


.more-in-dispatches{
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    color:black;
    text-decoration: none;
}
.dispatch-list{
    display: flex;
    flex-direction: row;  
    list-style: none;
    padding: 0;
    margin: 0;
   
    
   
}


.dispatch-img{
    width: 207px;
    height: 137px;
    float: none;
    transform: translateY(-7px);
    margin-right: 0;
    object-fit: contain;


}
.dispatch-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    padding: 0 0 5px 0;
    margin-top: 0px;
    font-family: 'EB Garamond', serif;
    letter-spacing: 0.5px;
    
  
}
.dispatch-inner-div{
    width: 200px; 
    padding: 0 27px 0 20px;
    border-right:  1px solid var(--color-stroke-quaternary);
   
}

.first-item{
    width: 200px;
    align-items: left; 
    padding-left: 0;
    padding-right: 27px;
}

.last-item{
    width: 200px;
    padding-right: 0;
    border-right: none;
  
}

.dispatch-li-inner-div{
   bottom: 10px;
}

.dispatch-figure{
    float: none;
    width: 100%;
    margin-left: 0;
    margin-bottom: 8px;
    margin-top: 0;
}

.dispatch-inner-div:hover p{
text-decoration: underline;
}

