
.sidebar {
    position: fixed;
    top: 0;
    left: -70px; 
    width: 230px;
    height: 100vh;
    background-color: #333;
    transition: left 0.3s ease-in-out;
    z-index: 100;
    border-top-right-radius: 10px;
  }
  
  .sidebar.open {
    left: 0; 
  }
  
  .sidebar-content {
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
  }